---
import { Image } from 'astro:assets';
import golfCourses from '../../static/data/golfCourses.json';
import BasicInformation from './BasicInformation.astro';
import ButtonWithLabel from './ButtonWithLabel.astro';
import GoraLinkButton from './buttons/GoraLinkButton.astro';
import JalanGolfLinkButton from './buttons/JalanGolfLinkButton.astro';
import ReviewItem from './ReviewItem.astro';
const props = Astro.props;
const golfCourse = golfCourses.find(e => e.golfCourseId === parseInt(props.id))
const goraBaseUrl = 'https://hb.afl.rakuten.co.jp/hgc/2130bd1e.07bd3fbb.2130bd1f.58d4f382/?pc=___URL___&link_type=hybrid_url&ut=eyJwYWdlIjoidXJsIiwidHlwZSI6Imh5YnJpZF91cmwiLCJjb2wiOjF9'
const goraUrl = goraBaseUrl.replace('___URL___', encodeURIComponent(`https://booking.gora.golf.rakuten.co.jp/guide/disp/c_id/${golfCourse.golfCourseId}`))
const rakutenTravelBaseUrl = 'https://hb.afl.rakuten.co.jp/hgc/g0190dd6.uc73i72f.g0190dd6.uc73jb24/?pc='
const vcBaseUrl = 'https://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3722642'
---
<div class="flex flex-col">
  <div>
    <a href={ goraUrl } target="_blank" class="no-underline" rel="noopener noreferrer nofollow">
      <h2>{ golfCourse?.golfCourseName }</h2>
    </a>
  </div>
  <div class="grid grid-cols-1 mb-2.5 sm:grid-cols-2 gap-2">
    <div class="w-full h-64 mt-0 mx-auto overflow-hidden object-cover sm:m-auto">
      <a href={ goraUrl } target="_blank" rel="noopener noreferrer nofollow">
        <Image
          class="object-cover h-64 m-auto w-full rounded-lg"
          src={ golfCourse?.golfCourseImageUrl1 }
          alt={ `${golfCourse?.golfCourseName}` }
          width="512"
          height="512"
        />
      </a>
    </div>
    <div class="p-2.5 rounded-lg border-box mt-2.5 bg-rose-100">
      <p>
        {
          golfCourse?.golfCourseCaption !== undefined && golfCourse.golfCourseCaption.length >= 300
            ? `${golfCourse?.golfCourseCaption.substr(0, 300)}...`
            : golfCourse?.golfCourseCaption}
      </p>
    </div>
  </div>
  <div class="pt-3.5">
    <h3>
      { `${props.keyword ? props.keyword : golfCourse?.golfCourseName}の詳細` }
    </h3>
    <BasicInformation
      rows={[
        { title: '住所', value: golfCourse?.address },
        { title: '最寄りのインター', value: `${golfCourse?.highway} ${golfCourse?.ic}` },
        { title: '電車でのアクセス', value: golfCourse?.accessTrain },
        { title: 'シューズ指定', value: golfCourse?.shoes },
        { title: 'カート', value: golfCourse?.cartNote },
        { title: 'お風呂(温泉)', value: golfCourse?.hotSpring === true ? golfCourse?.hotSpringNote : 'なし'},
        { title: 'ホテル', value: golfCourse?.hotel === true ? 'あり' : 'なし' },
        { title: '練習場', value: golfCourse?.practiceSpace === true ? golfCourse?.practiceSpaceNote : 'なし' },
        { title: 'ドレスコード', value: golfCourse?.dressCode },
      ].filter(e => e.value !== '')}
    />
  </div>
  {
    (golfCourse?.rating1Title || golfCourse?.rating2Title) && (
      <div class="pt-3.5">
        <h3>
          { `${props.keyword ? props.keyword : golfCourse?.golfCourseName}のクチコミ` }
        </h3>
        <div class="divide-y">
          <ReviewItem
            title={golfCourse?.rating1Title}
            nickName={golfCourse?.rating1NickName}
            age={golfCourse?.rating1Age}
            sex={golfCourse?.rating1Sex}
            evaluation={golfCourse?.rating1Evaluation}
            comment={golfCourse?.rating1Comment}
          />
          { golfCourse?.rating2Title && (
            <ReviewItem
              title={golfCourse?.rating2Title}
              nickName={golfCourse?.rating2NickName}
              age={golfCourse?.rating2Age}
              sex={golfCourse?.rating2Sex}
              evaluation={golfCourse?.rating2Evaluation}
              comment={golfCourse?.rating2Comment}
            />
          )}
        </div>
      </div>
    )
  }
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mt-4">
    <GoraLinkButton url={ goraUrl } />
    <JalanGolfLinkButton url={ `${vcBaseUrl}&pid=890540550&vc_url=https://golf-jalan.net/${golfCourse?.clubCd}/` } />
  </div>
  <div class="pt-3.5">
    <h3>
      { `${props.keyword ? props.keyword : golfCourse?.golfCourseName}の周辺ホテルを探す` }
    </h3>

    <ButtonWithLabel
      url={ rakutenTravelBaseUrl + encodeURIComponent(`https://search.travel.rakuten.co.jp/ds/undated/search?f_latitude=${golfCourse?.latitude}&f_longitude=${golfCourse?.longitude}&f_dai=japan&f_cd=003&f_sort=hotel&f_tab=map&f_page=1&f_hyoji=30&f_km=10.0`) }
      text="楽天トラベルで近くホテルを探す"
    />
    <ButtonWithLabel
      url={ `${vcBaseUrl}&pid=890557429&vc_url=` + encodeURIComponent(`https://www.jalan.net/uw/uwp1500/uww1501.do?dateUndecided=1&resetZoomLevel=12&centerPosX=${golfCourse?.longitude}&centerPosY=${golfCourse?.latitude}&zoomLevel=12&distCd=&reShFlg=1`) }
      text="じゃらんで近くホテルを探す"
    />
  </div>
</div>
